extends layout

block content
  div(class="container")
    h2 Add new address info
    form(name="myform",action="/new_address",method="post",data-ajax='false')
      label Name
      input(type="text",name="name")
      label Address
      input(type="text",name="address")
      label Email
      input(type="email",name="email")
      label Phone number
      input(type="text",name="phone")
      label Birthtday
      input(type="Date", name="birthtday")
      br
      input(type="submit",value="Save")
      p #{error}
