extends layout

block content
  
  div(class="container") 
    h2 Login Addressbook
    form(name="myform",action="/login",method="post")
      label Username
      input(type="text",name="user")
      label Password
      input(type="password",name="pswd")
      br
      input(type="submit",value="Login")
      p(id='error') #{error}
      label Not yet registered?
      a(href="/register") Register here