extends layout

block content
  div
    h2 #{username}'s addressbook
    input(type='text',data-type='search',id='test')
    ul(data-role='listview',data-filter='true',data-input='#test')
        each address in addressbook
          li
            a(href='/contact_info?id=#{address._id}') #{address.name}
    a(href="/address") Add new address