extends layout

block content
  div(class="container")
    h2 #{name}'s Addressbook
    input(type='text',data-type='search',id='test')
    ul(data-role='listview',data-filter='true',data-input='#test')
        each address in addressbook
          li
            a(href='/login?id=#{address._id}') #{address.name}
    a(href="/address") Add new address