extends layout

block content
  div(class="container")
    h2 Register new user
    form(name="myform",action="/register_user",method="post")
      label Username #{error}
      input(type="text",name="user")
      label Password
      input(type="password",name="pswd")
      label Email
      input(type="email",name="email")
      br
      input(type="submit",value="Register")
      p(id='error') #{error}
