extends layout

block content
  div(class="container")
    h2 Register new user
    form(action="./",method="post")
      label Username
      input(type="text",name="user")
      br
      label Password
      input(type="password",name="pswd")
      br
      label Email
      input(type="email",name="email")
      br
      input(type="submit",value="Register")
