body {
  padding: 50px;
}
a {
  color: #00b7ff;
}
h2 {
  color: #ff0080;
}
.container {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #ff22a0;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  background-color: #fef7fa;
}
#error {
  color: #f00;
}
